/*------------------------------------------------------------------
Heading
-------------------------------------------------------------------*/
.azt-heading {
	.azt-heading-title {
		font-size: 14px;
		font-weight: bold;
	}
	p.azt-heading-desc{
	    color: #6f6f6f;
    	font-size: 16px;
	}
}

