.woo-sidebar-wrap{
  .woo-sidebar-title{
    background: #5e5653;
    height: 40px;
    border-radius: 7px 7px 0 0;

    display: flex;
    align-items: center;

    h3{
      padding-left: 10px;
      margin-bottom: 0;
      line-height: 1;
      text-transform: capitalize;
    }

    span{
      width: 40px;
      text-align: center;
      border-right: 2px solid #ffffff;
    }

    h3, span{
      color: #fdeb33;
      font-size: 17px;
      text-transform: uppercase;
      height: 40px;
      line-height: 40px;
    }

  }
  p.woo-sidebar-current-title{
    font-size: 18px;
    color: black;
    padding: 5px 0 5px 12px;
    margin-bottom: 0;
    background: #99b3d4;
    margin-top: 12px;
  }

  .current-cat{
    li{
      padding: 10px 12px;

      &:hover{
        a{
          color: #de4a4a;
        }
      }

      a{
        font-size: 14px;
        color: #333;
      }
    }
  }

  .other-cat{
    background: #ffffff;

    a{
      &:hover{
        color: #de4a4a;
      }
    }

    li{
      line-height: 1;
      padding-top: 14px;
      padding-bottom: 14px;

      &:hover{
        a{
          color: #de4a4a ;
        }
      }

      &:hover{
        cursor: pointer;
      }
    }

    >li{
      margin-left: 12px;
      margin-right: 12px;
      a{
        font-size: 15px;
      }

      i{
        font-size: 17px;
        float: right;
      }

      .other-cat-sub{
        display: none;
      }

      border-bottom: 1px solid #d7d7d7;

      &:last-child{
        border: none;
      }
    }
  }

  .woo-sidebar-body{
    border: 1px solid #d7d7d7;
  }
}


//

.cart-form-wrap{
  margin-top: 80px;
  .cart-inner{
    .woocommerce-cart-form__cart-item{
      display: flex;
      margin-left: 50px;
      margin-right: 50px;
      padding-bottom: 20px;
      padding-top: 20px;
      border-bottom: 1px solid #c5c5c5;

      .left{
        display: flex;
        flex-basis: 70%;
        img{
          width: 120px;
          border: 1px solid #c5c5c5;
        }

        .cart-content{
          margin-left: 30px;

          &>a{
            font-size: 20px;

            &:hover{
              color: #de4a4a;
            }
          }

          .cart-price{
            color: #212121;
            font-size: 14px;
          }

          .cart-remove{
            margin-top: 10px;
            a:hover{
                color: #de4a4a;
            }
          }
        }
      }
    }

    .product-quantity{
      label{
        font-size: 15px;
        color: #212121;
      }

      .quantity{
        float: none;
        input{
          max-width: 100px;
          width: 100px;
          padding-left: 30px;
        }
      }
    }

    .cart-action{
      margin-top: 22px;
      display: flex;
      justify-content: center;

      .home-back{
        background: #ee7c24;
        padding: 8px 15px;
        color: #ffffff;
        font-weight: 600;
        border-radius: 2px;
        letter-spacing: 1px;

        &:hover{
          background: #de4a4a;
        }
      }

      button{
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: unset;
        margin-left: 15px;
        background: #ee7c24;
        padding: 8px 19px;
        color: #ffffff;
        font-weight: 600;
        border-radius: 2px;

        &:hover{
          background: #de4a4a;
        }
      }
    }
  }
}

.woocommerce-checkout form.checkout{
  margin-top: 50px;
}

.sunio-breadcumbs{
  border-bottom: 2px solid #eee;
  margin-bottom: 25px;
  .pad{
    display: table;
    border-bottom: 2px solid #ed3237;
    position: relative;
    bottom: -2px;

    font-size: 18px;
    text-transform: uppercase;
  }

  .color{
    color: #ed3237;
  }
}

//top brr

#top-bar-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



